/.vs/SandGame/CopilotIndices
/.vs
/SandGame/.vs
SandGame/SandGame.sln
SandGame/SandGame.vcxproj
SandGame/SandGame.vcxproj.filters
SandGame/SandGame.vcxproj.user
SandGame/x64/Debug/SandGame.exe
SandGame/x64/Debug/SandGame.pdb
/SandGame/SandGame/x64
